/* post-it */
.postit-card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.postit-card.expanded {
  transform: scale(1.3) rotate(0deg) !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 100 !important;
}